body{ background-color: rgb(253, 177, 221);}
h1{font-size: 300%; color: rgb(146, 54, 11);text-align: center;}
h2{text-align: center; font-size: 150%; color: rgb(0, 0, 0);}
h3{ text-align:center; font-size: 120%; font-style: Verdana ; color: rgb(1, 0, 80);}
h4{text-align: left; font-size: 120%;font-style: oblique; color: rgb(31, 31, 31);}
h5{text-align: left; font-size: 120%;font-style: oblique; color: rgb(31, 31, 31);}
